<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangcheng.shangcheng.mapper.CategoryMapper">

    <select id="getAllCategory" resultType="com.shangcheng.shangcheng.bean.Category">
        select * from category
    </select>

    <insert id="saveCategory" parameterType="com.shangcheng.shangcheng.bean.Category">
        insert into category(id,cname,ishaveChild) values(#{id},#{cname},#{ishaveChild});
    </insert>

</mapper>